/* 

    COMMUN

*/

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

/* mettre les titres (h1) en gras */
h1 {
    font-weight: bolder;
    font-size: 30px;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}

a:link {
    color: black;
}


/* retire les puces des listes */
ul {
    list-style-type: none;
}

/* 

    HEADEUR

*/

/* maitrise du logo */
nav img {
    width: 245px;
    margin-left: 15px;
    margin-bottom: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
}

nav li {
    margin-left: 40px;
    margin-right: 60px;
}

nav ul {
    font-size: 13px;
}

nav a {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size:0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; /*change after the size immediately*/
}

nav a:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 1px;
}

nav a:active {
    color: #FFECC9;
    background-image: linear-gradient(#FFECC9);
}

/* 

    MAIN

*/
body {
    overflow-x: hidden;
}

#traits {
    position: absolute;
    width: 60%;
    border-style: dashed;
    border-width: 3px;
    border-bottom: none;
    border-left: none;
    margin-left: 25%;
    margin-top: 20%;
    padding-bottom: 30%;
}

#traitss {
    position: absolute;
    width: 41%;
    border-style: dashed;
    border-width: 3px;
    border-top: none;
    border-left: none;
    margin-left: 30%;
    margin-top: 170px;
    padding-bottom: 62%;
}

#traitsss {
    position: absolute;
    width: 279px;
    border-style: dashed;
    border-width: 3px;
    border-top: none;
    border-right: none;
    margin-left: 250px;
    margin-top: -150px;
    padding-bottom: 27%;
}

#traitssss {
    position: absolute;
    width: 169px;
    border-style: dashed;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    margin-left: 50%;
    margin-top: -225px;
    padding-bottom: 225px;
}

#return {
    margin-left: 10px;
    font-size: 12px;
}


/* -------entièreté du main-------- */

body {
    overflow-x: hidden;
}

main h1 {
    text-align: center;
}

main {
    font-size: 15px;
}

/* --------PARTIE Z-INDEX---------- */


#z-index{
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
}

 #z-index::before {
    content: "";
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: left 291px top;
    background-size: 90%;
    position: absolute;
    top: -40px;
    left: 0px;
    right: -150px;
    bottom: 0px;
    opacity: 0.3;
} 

#first {
    margin-bottom: 200px;
}

#z-index .forme {
    display: flex;
    margin-top: 100px;
}

#z-index .beige {
    background-color: #FFECC9;
    width: 50%;
    padding-bottom: 20px;
}

#z-index .beige {
    position: absolute;
    z-index: 1;
}

#pardessus {
    position: relative;
    z-index: 1;
}


#position {
    padding-left: 10%;
    padding-right: 25%;
    padding-top: 5%;
}

#position2 {
    padding-right: 10%;
    padding-left: 29%;
    padding-top: 7%;
}

#right{
    margin-left: 50%;
    height: 41%;
}

/* ----IMAGE (PART Z-INDEX)---- */

#z-index img {
    position: relative;
    z-index: 2;
}

#vanillenoir {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
} 

#carte {
    width: 48%;
    margin-left: 12%;
    margin-top: 5%;
}

/* --------PARTIE NORMAL---------- */

#normal .forme {
    margin-top: 50px;
    margin-bottom: 50px;
}

#beigee {
    background-color: #FFECC9;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
    width: 65%;
    height: 50em;
}

#position3 {
    padding-right: 10%;
    padding-left: 6%;
    padding-top: 2%;
}

#position4 {
    padding-right: 8%;
    padding-left: 6%;
    padding-top: 5%;
}

#end {
    background-color: #FFECC9;
    display: flex;
    flex-direction: row;
    margin-bottom: 15em;
    margin-left: 35%;
    width: 65%;
    height: 33em;
}

/* ----IMAGE (PART NORMAL)---- */

#sucre {
    width: 40%;
    object-fit: contain;
    margin-left: 7%;
}

#vanillefleurs {
    width: 25em;
    height: 25em;
    object-fit: cover;
    margin-right: 5%;
    margin-top: 6%;
}

/* 

    FOOTER

*/

footer {
    background-color: #3E3532;
    color: white;
    font-size: 15px;
    margin-bottom: -8px
}

footer li {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer li a:link {
    color: white;
}

footer li a:visited {
    color: white;
}

footer li a {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    /*change after the size immediately*/
}

footer li a:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 1px;
}

footer li a:active {
    color: #FFECC9;
}

footer img {
    object-fit: contain;
    width: 170px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;

}

hr {
    border: none;
}

#reseaux img {
    width: 22px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

#follow {
    display: flex;
    flex-direction: row;
}

#none{
    margin-top: 7%;
}

.saut {
    margin-bottom: 10px;
}
