/* 

    COMMUN

*/

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

/* mettre les titres (h1) en gras */
h1 {
    font-weight: bolder;
    font-size: 30px;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}

a:link {
    color: black;
}


/* retire les puces des listes */
ul {
    list-style-type: none;
}

/* 

    HEADEUR

*/

/* maitrise du logo */
nav img {
    width: 245px;
    margin-left: 15px;
    margin-bottom: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
}

nav li {
    margin-left: 40px;
    margin-right: 60px;
}

nav ul {
    font-size: 13px;
}

nav a {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size:0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; /*change after the size immediately*/
}

nav a:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 1px;
}

nav a:active {
    color: #FFECC9;
    background-image: linear-gradient(#FFECC9);
}

/* 

    MAIN

*/

body {
    overflow-x: hidden;
}

#return {
    margin-left: 10px;
    font-size: 12px;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
}

main::before {
    content: "";
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: left 291px top;
    background-size: 90%;
    position: absolute;
    top: -30px;
    left: 0px;
    right: -150px;
    bottom: 0px;
    opacity: 0.3;
}

main section{ 
    position: relative;
}

main h1 {
    text-align: center;
}

#premier {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

#premier p {
    padding-left: 5%;
    padding-right: 5%;
}

#second {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#second div {
    margin-top: 3%;
    margin-bottom: 3%;
}

#epices {
    width: 500px;
    height: 400px;
    object-fit: cover;
    box-shadow: -120px -70px#3e3532, -120px 70px #3e3532;
    margin-left: 7%;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 25%;
    height: auto;
}

#back {
    background-image: url(../img/pagehome/img1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    max-width: 100%;
    max-height: 555px;
    min-width: 100%;
    min-height: 555px;
    padding-right: 9px;
    padding-top: 5%;
}

#block {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 500px;
    margin-left: 4%;
    padding-top: 1%;
    text-align: center;
}

#nom {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 11px;
    border-color: #3E3532;
    border-radius: 4px;
}

#mail{
    width: 52%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #3E3532;
    border-radius: 4px;
}

#votremessage {
    resize: none;
    width: 80%;
    min-height: 20px;
    max-height: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #3E3532;
    border-radius: 4px;
    border-width: 2px;
    margin-top: 15px;
}

.brown {
    padding: 12px 39px;
    padding-bottom: 13px;
    margin: 9px 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}

input .brown:hover::after {
    background-color: #3e353273;
}

.brown {
    background-color: #3E3532;
    color: white;
}

/* 

    FOOTER

*/

footer {
    background-color: #3E3532;
    color: white;
    font-size: 15px;
    margin-bottom: -8px
}

footer li {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer li a:link {
    color: white;
}

footer li a:visited {
    color: white;
}

footer li a {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    /*change after the size immediately*/
}

footer li a:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 1px;
}

footer li a:active {
    color: #FFECC9;
}

footer img {
    object-fit: contain;
    width: 170px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;

}

hr {
    border: none;
}

#reseaux img {
    width: 22px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

#follow {
    display: flex;
    flex-direction: row;
}

#none{
    margin-top: 7%;
}

.saut {
    margin-bottom: 10px;
}
