/* 

    COMMUN

*/

/* Placez tout le texte en poppins sans serif, enlevé tout les margin automatique 
et rendre les encrages glissante */

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    scroll-behavior: smooth;
}

/* mettre les titres (h1) en gras */
h1 {
    font-weight: bolder;
    font-size: 30px;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}


/* retire les puces des listes */
ul {
    list-style-type: none;
}

.clair, .brown {
    padding: 12px 39px;
    padding-bottom: 13px;
    margin: 9px 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}

input .brown:hover::after {
    background-color: #3e353273;
}

button .clair:hover ::after {
    background-color: #ffecc99c;
}

.clair {
    background-color: #FFECC9;
}

.brown {
    background-color: #3E3532;
    color: white;
}

#email{
    width: 43%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 5px;
    border-color: #3E3532;
    border-radius: 4px; 
}

/* 

    HEADEUR

*/

/* maitrise du logo */
nav img {
    width: 245px;
    margin-left: 15px;
    margin-bottom: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
}

nav li {
    margin-left: 40px;
    margin-right: 60px;
}

nav ul {
    font-size: 13px;
}

nav a {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#000 0 0 0);
    background-position: 0 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}

nav a:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 1px;
}

nav a:active {
    color: #FFECC9;
    background-image: linear-gradient(#FFECC9);
}


/* 

    MAIN

*/

body {
    overflow-x: hidden;
}

#clair {
    margin-top: 35px;
    margin-bottom: 50px;
}

#firstblockk {
    margin-left: 5%;
}

#secondblock {
    margin-left: 6%;
}

#top {
    display: flex;
    margin-top: 17%;
}

#dessous {
    display: flex;
    justify-content: flex-end;
    margin-top: 7%;
}

#firstblock {
    margin-top: 50px;
    margin-left: 7%;
    margin-right: 30%;
    margin-bottom: 100px;
}

#vanille {
    max-width: 44%;
    max-height: 600px;
    min-width: 44%;
    min-height: 600px;
    object-fit: cover;
    box-shadow: -120px -70px #3e3532;
    margin-left: 6%;
}

#gauffre {
    max-width: 44%;
    max-height: 600px;
    min-width: 44%;
    min-height: 600px;
    object-fit: cover;
    box-shadow: 120px 70px #89a173;
    margin-left: 5%;
    margin-right: 6%;
}

#aproposdenous {
    background-color: #FFECC9;
    margin-left: -8px;
    margin-right: -9px;
    margin-top: 130px;
    padding-top: 45px;
    padding-bottom: 100px;

}

#aproposdenous img {
    max-width: 302px;
    max-height: 302px;
    min-width: 302px;
    min-height: 302px;
    object-fit: cover;
}

#aproposdenous p {
    margin-left: 4%;
    max-width: 635px;
    max-height: 302px;
    min-width: 635px;
    min-height: 302px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}

#center {
    text-align: center;
}

#pagedefin {
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.block {
    max-width: 40%;
    max-height: 600px;
    min-width: 40%;
    min-height: 600px
}

.block p {
    font-size: 16px;
}

.block h1 {
    margin-top: 0px;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
}

main::before {
    content: "";
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: left 291px top;
    background-size: 90%;
    position: absolute;
    top: -80px;
    left: 0px;
    right: -150px;
    bottom: 0px;
    opacity: 0.3;
}

main section {
    position: relative;
}

h2 {
    margin-top: 0px;
}

#back {
    background-image: url(../img/pagehome/img1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    max-width: 100%;
    max-height: 555px;
    min-width: 100%;
    min-height: 555px;
    padding-right: 9px;
    padding-top: 5%;
}

#block {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 500px;
    margin-left: 4%;
    padding-top: 1%;
    text-align: center;
}

#nom {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 11px;
    border-color: #3E3532;
    border-radius: 4px;
}

#mail{
    width: 52%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #3E3532;
    border-radius: 4px;
}

#votremessage {
    resize: none;
    width: 80%;
    min-height: 20px;
    max-height: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #3E3532;
    border-radius: 4px;
    border-width: 2px;
    margin-top: 15px;
}


/* 

    FOOTER

*/

footer {
    background-color: #3E3532;
    color: white;
    font-size: 15px;
    margin-bottom: -8px
}

footer li {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer li a:link {
    color: white;
}

footer li a:visited {
    color: white;
}

footer li a {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}

footer li a:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 1px;
}

footer li a:active {
    color: #FFECC9;
}

footer img {
    object-fit: contain;
    width: 170px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;

}

hr {
    border: none;
}

#reseaux img {
    width: 22px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

#follow {
    display: flex;
    flex-direction: row;
}

#none{
    margin-top: 7%;
}

.saut {
    margin-bottom: 10px;
}
