/* 

    COMMUN

*/

* {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

/* mettre les titres (h1) en gras */
h1 {
    font-weight: bolder;
    font-size: 30px;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
}

a:link {
    color: black;
}


/* retire les puces des listes */
ul {
    list-style-type: none;
}

/* 

    HEADEUR

*/

/* maitrise du logo */
nav img {
    width: 245px;
    margin-left: 15px;
    margin-bottom: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
}

nav li {
    margin-left: 40px;
    margin-right: 60px;
}

nav ul {
    font-size: 13px;
}

nav a {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size:0% 1px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s; /*change after the size immediately*/
}

nav a:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 1px;
}

nav a:active {
    color: #FFECC9;
    background-image: linear-gradient(#FFECC9);
}

/* 

    MAIN

*/
body {
    overflow-x: hidden;
}

#head {
    text-align: center;
}

#pays {
    margin-bottom: 5%;
}

.enforme h1{
    text-align: start;
}

.enforme{
    width: 75%;
}

.production {
    width: 20%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.forme {
    display: flex;
}

.formee {
    display: flex;
    justify-content: flex-end;
}

.beige{
    background-color: #FFECC9; 
    padding-left: 25%;
    padding-bottom: 15%;
    padding-top: 8%;
    padding-right: 5%;
    z-index: 1;
}

.white {
    padding-left: 5%;
    padding-bottom: 15%;
    padding-top: 8%;
    padding-right: 25%;
}

h3 {
    text-align: center;
}

main h1 {
    text-align: center;
}

.droite {
    position: relative;
    width: 30%;
    object-fit: contain;
    right: 10%;
}

.gauche {
    position: relative;
    width: 30%;
    object-fit: contain;
    left: 10%;
}

/* 

    FOOTER

*/

footer {
    background-color: #3E3532;
    color: white;
    font-size: 15px;
    margin-bottom: -8px
}

footer li {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer li a:link {
    color: white;
}

footer li a:visited {
    color: white;
}

footer li a {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    /*OR bottom left*/
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    /*change after the size immediately*/
}

footer li a:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 1px;
}

footer li a:active {
    color: #FFECC9;
}

footer img {
    object-fit: contain;
    width: 170px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;

}

hr {
    border: none;
}

#reseaux img {
    width: 22px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

#follow {
    display: flex;
    flex-direction: row;
}

#none{
    margin-top: 7%;
}

#none{
    margin-top: 7%;
}

.saut {
    margin-bottom: 10px;
}
